.jumbotrone{
    background-image: url(https://www.barilla.com//-/media/images/it_it/barilla_bbpe/img/footer/cielo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100vw;
    color: white;
}
